.container{
    width: 800px;
    margin: 25px auto;
}

.caption{
    display: inline-block;
    width: 50%;
    font-family: 'Helvetica Neue",Helvetica,Arial,sans-serif';
    font-size: 35px;
    color: #3c8dbc;
    font-weight: 300;
    text-align: left;
}
.yearmonth{
    text-align: right;
    width: 50%;
    color: #3c8dbc;
    font-family: 'Helvetica Neue",Helvetica,Arial,sans-serif';
    display: inline-block;
}
.pdf{
    margin-top: 10px;
}